Django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-filter
django-allauth
django-channels
channels-redis
django-storages
django-ckeditor
django-import-export
django-debug-toolbar
redis
celery
django-celery-beat
python-dotenv
pillow
drf-yasg
django-elasticsearch-dsl
stripe
paystack
django-otp
qrcode
google-auth